body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Define o estilo do título */
h1 {
    color: #333;
    text-align: center;
}

/* Estiliza o parágrafo */
p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}